<nav class="sidebar">
    <ul>
      <!-- Dashboard -->
      <li>
        <a routerLink="/dashboard">
          <i class="icon-dashboard"></i> Dashboard
        </a>
      </li>
  
      <!-- User Management -->
      <li>
        <a routerLink="/profile">
          <i class="icon-user"></i> Profile
        </a>
      </li>
      <li>
        <a routerLink="/login">
          <i class="icon-login"></i> Login
        </a>
      </li>
  
      <!-- Course Management -->
      <li>
        <a routerLink="/courses">
          <i class="icon-courses"></i> Courses
        </a>
      </li>
      <li>
        <a routerLink="/schedules">
          <i class="icon-schedule"></i> Schedules
        </a>
      </li>
  
      <!-- Payments & Subscriptions -->
      <li>
        <a routerLink="/subscriptions">
          <i class="icon-subscription"></i> Subscriptions
        </a>
      </li>
      <li>
        <a routerLink="/payments">
          <i class="icon-payment"></i> Payments
        </a>
      </li>
  
      <!-- Performance Tracking -->
      <li>
        <a routerLink="/performance">
          <i class="icon-performance"></i> Performance
        </a>
      </li>
  
      <!-- Nutrition -->
      <li>
        <a routerLink="/nutrition">
          <i class="icon-nutrition"></i> Nutrition
        </a>
      </li>
  
      <!-- Reservations -->
      <li>
        <a routerLink="/reservations">
          <i class="icon-reservations"></i> Reservations
        </a>
      </li>
  
      <!-- Communication -->
      <li>
        <a routerLink="/messages">
          <i class="icon-messages"></i> Messages
        </a>
      </li>
      <li>
        <a routerLink="/notifications">
          <i class="icon-notifications"></i> Notifications
        </a>
      </li>
  
      <!-- Help & Support -->
      <li>
        <a routerLink="/help">
          <i class="icon-help"></i> Help & Support
        </a>
      </li>
    </ul>
  </nav>
  
