<nav class="sidebar">
    <ul>
        <!-- Dashboard -->
        <li>
            <a routerLink="/dashboard">
                <i class="fa fa-tachometer"></i> Dashboard
            </a>
        </li>

        <!-- User Management -->
        <li>
            <a routerLink="/profile">
                <i class="fa fa-user"></i> Profile
            </a>
        </li>
        <li>
            <a routerLink="/login">
                <i class="fa fa-sign-in"></i> Login
            </a>
        </li>

        <!-- Course Management -->
        <li>
            <a routerLink="/courses">
                <i class="fa fa-book"></i> Courses
            </a>
        </li>
        <li>
            <a routerLink="/schedules">
                <i class="fa fa-calendar"></i> Schedules
            </a>
        </li>

        <!-- Payments & Subscriptions -->
        <li>
            <a routerLink="/subscriptions">
                <i class="fa fa-credit-card"></i> Subscriptions
            </a>
        </li>
        <li>
            <a routerLink="/payments">
                <i class="fa fa-credit-card-alt"></i> Payments
            </a>
        </li>

        <li>
            <a routerLink="/performance">
                <i class="fa fa-line-chart"></i> Performance <!-- Updated icon -->
            </a>
        </li>

        <!-- Nutrition -->
        <li>
            <a routerLink="/nutrition">
                <i class="fa fa-heart"></i> Nutrition <!-- Updated icon -->
            </a>
        </li>

        <!-- Reservations -->
        <li>
            <a routerLink="/reservations">
                <i class="fa fa-calendar"></i> Reservations <!-- Updated icon -->
            </a>
        </li>

        <!-- Communication -->
        <li>
            <a routerLink="/messages">
                <i class="fa fa-comment"></i> Messages
            </a>
        </li>
        <li>
            <a routerLink="/notifications">
                <i class="fa fa-bell"></i> Notifications
            </a>
        </li>

        <!-- Help & Support -->
        <li>
            <a routerLink="/help">
                <i class="fa fa-question-circle"></i> Help & Support
            </a>
        </li>
    </ul>
</nav>
