.sidebar {
    width: 200px;
    background-color: #896CFE;
    color: #fff;
    overflow-y: auto; 
    height: 100vh;   
    position: fixed;
    padding: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 1rem 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  
  .sidebar a:hover {
    background-color: #B3A0FF;
  }
  
  .sidebar i {
    margin-right: 10px;
  }
  .fa {
    font-size: 20px; 
    margin-right: 10px; 
  }
  