<div class="home-container">
  <div class="top-section">
    <div class="image-container">
      <img src="assets/home.jpg" alt="Homepage" class="homepage-image" />
      <div class="overlay-text">
        <h1>FlexManager</h1>
        <br />
        <p>Built to Flex with Your Needs</p>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="cards-grid">
   
    <ng-container *ngFor="let card of cards">
  
      <div>
        <app-card
          [title]="card.title"
          [icon]="card.icon"
          [image]="card.image"
          [route]="card.route"
        ></app-card>
      </div>
    </ng-container>
  </div>

  <footer class="app-footer">
    <p>&copy; 2025 FlexManager. All Rights Reserved.</p>
  </footer>
</div>
