.coaches {
    padding: 3rem 1rem;
    text-align: center;
  }
  
  .coach-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  .card img {
    border-radius: 8%;
    width: 160px;
    height: 160px;
  }
  
  .card h3 {
    margin: 1rem 0;
  }
  