.request-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.request-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.details .name {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.details .date-time {
  font-size: 14px;
  color: black;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
}

.details .date-time::before {

  font-size: 14px;
}

.details .date-time::after {

  font-size: 14px;
}

.actions {
  display: flex;
  gap: 15px;
}

.accept-button {
  background-color: #421A3F ;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.accept-button:hover {
  background-color: rgba(95, 43, 79, 0.6);;
  transform: translateY(-2px);
}

.refuse-button {
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.refuse-button:hover {
  background-color: #e2e6ea;
  transform: translateY(-2px);
}