<div class="request-card">
  <div class="user-info">
    <img class="user-image" [src]="reservation.imageUrl" alt="User" />
    <div class="details">
      <p class="name">{{ reservation.name }}</p>
        <p class="date-time">
          <span class="date">
            <span class="calendar-icon">📅</span> {{ reservation.date }}
          </span>
          <span class="time">
            <span class="clock-icon">🕒</span> from {{ reservation.startTime }} to {{ reservation.endTime }}
          </span>
        </p>
    </div>
  </div>
  <div class="actions">
    <button class="accept-button" (click)="onAccept()">Accept</button>
    <button class="refuse-button" (click)="onRefuse()">Refuse</button>
  </div>
</div>