<mat-card>
    <mat-card-title>Manage Courses</mat-card-title>
  
    <mat-table [dataSource]="courses" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{ course.title }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{ course.description }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> Duration (weeks) </mat-header-cell>
        <mat-cell *matCellDef="let course"> {{ course.duration }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let course">
          <button mat-button color="primary" (click)="onDelete(course.id)">Delete</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="['title', 'description', 'duration', 'actions']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['title', 'description', 'duration', 'actions'];"></mat-row>
    </mat-table>
  </mat-card>
  
  <!-- Add form for creating/updating courses -->
  <app-course-form (create)="loadCourses()" (update)="loadCourses()"></app-course-form>
  