<div class="container">
    <h2>Client List</h2>
    <table *ngIf="clients.length; else noClients">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.id }}</td>
          <td>{{ client.username }}</td>
          <td>{{ client.email }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noClients>
      <p>No clients found.</p>
    </ng-template>
  </div>
  