<div class="course-details-container" *ngIf="course">
    <div class="coach-info">
      <img [src]="course.coachPhoto" alt="Photo du coach" class="coach-photo">
      <h2 class="coach-name">{{ course.coachName }}</h2>
    </div>
    <div class="course-info">
      <h3 class="course-name">{{ course.name }}</h3>
      <p class="course-description">{{ course.description }}</p>
      <p><strong>Durée :</strong> {{ course.duration }}</p>
      <p><strong>Capacité :</strong> {{ course.courseCapacity }} places</p>
      
      <div class="buttons-container">
        <div *ngIf="role === 'coach'" class="edit-btn-container">
          <button *ngIf="!isEditing" class="edit-btn" (click)="editCourse()">Edit</button>
          <button *ngIf="isEditing" class="save-btn">Save</button>
          <button *ngIf="isEditing" class="cancel-btn" (click)="isEditing = false">Cancel</button>
          <button class="delete-btn">Delete</button>
        </div>
      </div>
      
      <button class="close-btn" (click)="closePopup()">×</button>
    </div>
  </div> 