/* Conteneur du bouton "+ Add Class" qui s'affiche uniquement pour le rôle 'coach' */
.add-class-btn-container {
  margin-top: 30px; /* Espace en haut pour ne pas être collé au haut */
  margin-bottom: 5px; /* Réduit l'espace sous le bouton */
  margin-right: 20px;
  text-align: right; /* Aligne le bouton à droite */
}

/* Style pour le bouton */
.add-class-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; /* Couleur du bouton */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-class-btn:hover {
  background-color: #45a049; /* Couleur plus foncée au survol */
}

/* Style général pour la liste des cours */
.course-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de taille égale */
  gap: 10px; /* Espace entre les cartes */
  margin-top: 10px; /* Légère marge en haut */
}

/* Marge spécifique lorsque le rôle est 'coach' */
.course-list-coach {
  margin-top: 20px; /* Ajuste la marge supérieure pour les coachs */
}

/* Style pour chaque carte de cours */
.course-container {
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/* Réponse pour les écrans plus petits */
@media (max-width: 768px) {
  .course-list {
    grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
  }
}
 