
.add-class-btn-container {
  margin-top: 30px; 
  margin-bottom: 5px; 
  margin-right: 20px;
  text-align: right; 
}


.add-class-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-class-btn:hover {
  background-color: #45a049; 
}


.course-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  margin-top: 10px; 
}


.course-list-coach {
  margin-top: 20px;
}


.course-container {
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}


@media (max-width: 768px) {
  .course-list {
    grid-template-columns: 1fr; 
  }
}
 