<div class="coach-list">
  <app-coach
  *ngFor="let coach of coaches"
  [coach]="coach"
  (select)="selectCoach($event)"  
></app-coach>
  </div>
  <<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <app-reservation-card 
        [coachName]="selectedCoach?.name || ''" 
        [coachDescription]="selectedCoach?.specialty || ''" 
        [coachImage]="selectedCoach?.image || ''">
      </app-reservation-card>
    </div>
  </div>
  