/* Conteneur de la liste de coachs */
.coach-list {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de revenir à la ligne si nécessaire */
    gap: 20px; /* Espacement entre les cartes */
    justify-content: flex-start; /* Aligne les éléments sur la gauche */
    margin: 20px 0;
  }
  
  /* Style des coachs (éléments) */
  app-coach {
    width: calc(33.333% - 13.333px); /* Largeur de 3 éléments par ligne avec l'espacement */
    box-sizing: border-box; /* Assure que l'espacement est bien pris en compte */
    /* Si tu veux que l'élément ait la même hauteur pour tous, tu peux ajouter :
       height: 100%;
    */
  }
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 400px;
  }
  
  .close {
    float: right;
    cursor: pointer;
  }