<section class="pricing">
  <h2>JOIN TODAY</h2>
  <div class="pricing-cards">
    <div class="card" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-delay="100">
      <h3>Beginner Plan</h3>
      <p>$10 / Month</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
       <app-button
      [backgroundColor]="'#000'"
      [textColor]="'#fff'"
      [buttonText]="'Choose Plan'"
      (buttonClick)="onChoosePlan()"
    ></app-button>
    </div>
    <div class="card featured" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-delay="200" >
      <h3>Premium Plan</h3>
      <p>$15 / Month</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
       <app-button
      [backgroundColor]="'#000'"
      [textColor]="'#fff'"
      [buttonText]="'Choose Plan'"
      (buttonClick)="onChoosePlan()"
    ></app-button>
    </div>
    <div class="card" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-delay="300">
      <h3>Advanced Plan</h3>
      <p>$20 / Month</p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
       <app-button
      [backgroundColor]="'#000'"
      [textColor]="'#fff'"
      [buttonText]="'Choose Plan'"
      (buttonClick)="onChoosePlan()"
    ></app-button>
    </div>
  </div>
</section>
