
.coach-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  
}


.coach-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 260px; 
  height : 220px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.coach-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}


.coach-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.coach-info {
  padding: 5px 10px;
}

.coach-info h3 {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 18px;
  margin: 5px 0;
  text-transform: uppercase;
}

.coach-info p {
  font-family: 'Poppins', sans-serif;
  color: black; 
  font-size: 14px;
  
  font-weight: bold; 
}


.select-btn {
  background-color: #421A3F;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px 10px 10px 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}


.select-btn:hover {
  background-color: #5A2A56;}
  
  .select-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 26, 63, 0.5); 
  }


@media (max-width: 768px) {
  .coach-container {
    flex-direction: column;
    align-items: center;
  }

  .coach-item {
    width: 90%;
  }
}