<div class="form-container">
  <button class="close-button" (click)="closeModal.emit()">✖</button>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title" placeholder="Enter title" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" placeholder="Enter description"></textarea>
      </div>

      <div class="form-group">
        <label for="capacity">Capacity</label>
        <input id="capacity" type="number" formControlName="capacity" placeholder="Enter capacity" />
      </div>

     
      <div class="form-group">
        <label for="daysOfWeek">Days of Week</label>
        <div class="dropdown">
          <button type="button" class="dropdown-toggle" (click)="toggleDropdown()">
            {{ selectedDays.length ? selectedDays.join(', ') : 'Select Days' }}
          </button>
          <ul *ngIf="isDropdownOpen" class="dropdown-menu">
            <li *ngFor="let day of daysOfWeek">
              {{ day }}
              <input type="checkbox" [value]="day" (change)="toggleDaySelection(day)" [checked]="selectedDays.includes(day)">
            </li>
            
          </ul>
        </div>
        <small *ngIf="courseForm.get('daysOfWeek')?.touched && courseForm.get('daysOfWeek')?.hasError('required')" style="color: red;">
          You must select at least one day.
        </small>
      </div>

      <div class="form-group">
        <label for="startTime">Start Time</label>
        <input id="startTime" type="time" formControlName="startTime" />
      </div>

      <div class="form-group">
        <label for="endTime">End Time</label>
        <input id="endTime" type="time" formControlName="endTime" />
        <small *ngIf="courseForm.get('endTime')?.hasError('invalidTime')" style="color: red;">
          End time must be later than start time.
        </small>
      </div>


      <div class="button-container">
        <button type="submit" class="custom-button save-button" [disabled]="!isFormValid">Save</button>
        <button type="button" class="custom-button cancel-button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
