.form-group {
  margin-bottom: 1.2rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--dark-blue-gray);
  }
}

.input-container {
  position: relative !important;
}

.input-container {
  position: relative;
  max-width: 70%;

  .input-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--blue-gray);
  }

  .password-toggle {
    position: absolute !important;
    right: -4rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--blue-gray);
    cursor: pointer;
    z-index: 2;

    &:hover {
      color: var(--color-2);
    }
  }

  .form-control {
    width: 100%;
    padding: 0.75rem 2.5rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:focus {
      border-color: var(--color-2);
      box-shadow: 0 0 0 0.2rem var(--field-border-color-valid);
    }

    &.is-invalid {
      border-color: var(--field-border-color-error);
      &:focus {
        box-shadow: 0 0 0 0.2rem var(--field-border-color-invalid);
      }
    }
  }
}

.error {
  color: var(--field-border-color-error);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}


