.dashboard-container {
    padding: 20px;
    background: linear-gradient(120deg, #F5EFFF, #FBF5DD);
    font-family: 'Poppins', sans-serif;
   
}

.dashboard-header {
    text-align: center;
    margin-bottom: 30px;
}

.dashboard-header h2 {
    font-size: 36px;
    color: #16404D; /* Darker shade for elegance */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Merriweather', serif; 
}

.dashboard-layout {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    row-gap: 10px;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    row-gap: 10px;

    flex: 1;
}

.dashboard-charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 10px; 
    column-gap: 20px;
    
    flex: 2;
   
}

.dashboard-card {
    background: linear-gradient(135deg, #CDC1FF, #E5D9F2); 
    color: #2E2A47; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height:  100px;
}

.dashboard-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dashboard-card h4 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #16404D;
}

.dashboard-card p {
    font-size: 28px; 
    font-weight: bold; 
    color: #16404D; 
}

.dashboard-chart {
    background: linear-gradient(135deg, #F5EFFF, #ddd8e2); 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 450px;
}

.dashboard-chart:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dashboard-chart h4 {
    font-size: 22px; 
    font-weight: bold;
    color: #16404D; 
    margin-bottom: 15px;
}

.dashboard-container canvas {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: inset 0 -1px 5px rgba(255, 255, 255, 0.2); 
}


body {
    background-color: #F5EFFF; 
}
